
/* ---------ÜBERSICHT DATEN ------ */
.container{
    background-color:#f2f0eb;
}
h2{
    padding-left: 50px;
    margin:0;
    font-weight:700;
}
.right{
    text-align:right;
    padding-right:30px;
    padding-top:0;

}
.daten{
    width:100%;
    height:100px;
    background-color:#ffffff;
    padding:auto;
    padding-left:30px;
}
.box{
   text-align: center;
   vertical-align: center;
   top:25%;
}
.orange{
    color:#ff6600;
    margin-bottom:0px;
    font-weight:700;
}
/* ---------STATUS UND TIPPS ------ */

h4{
    text-align:left;
    padding:0;
    font-weight:700;
}
.header_boxen{
    padding-left: 50px;
    margin-top:30px;
}
/* ---------STATUS BOX------ */

.col1{
    height:250px;
    margin-left:50px;
    margin-right:30px;
    background-color:#ffffff;
}
.warning{
    width:100%;
    height:80px;
    padding:15px;
    margin:15px;
    background-color:#ff8080
}
a{
    text-decoration:underline;
}

/* ---------TIPPS BOX------ */
.col2{
    height:250px;
    margin-left:50px;
    margin-right:30px;
    background-color:#ff6600;
}
img{
    height:20px;
    width:50px;
}