a{
    text-decoration:underline;
}

/* ---------ÜBERSICHT DATEN ------ */
.container{
    background-color:#f2f0eb;
}
h2{
    padding-left: 20px;
    font-weight:700;
    margin:0;
    padding-top: 10px;
}
.right{
    text-align:right;
    padding-right:30px;
    padding-top:0;
}
/* Ich bekomme weder den text vertikal zentriert noch die daten-box geschmälert*/
#daten{
    background-color:#ffffff;
    margin: -5px 20px;
    padding:20px;
}
.orange{
    color:#ff6600;
    margin-bottom:0px;
    font-weight:700;
}
/* ---------STATUS UND TIPPS ------ */
.header_boxen{
    margin: 20px 20px 0px 20px;
}

h4{
    text-align:left;
    padding:0;
    font-weight:700;
}

}
/* ---------STATUS BOX------ */
#infos{
    display:flex;
}

#status{
    background-color:#ffffff;
    margin:0 35px;
    padding:0px;
}
.status_1{
    margin: 20px;
}

.status_2{
    margin: 20px;
}
#warning{
    padding:15px;
    margin:20px;
    background-color:#ff8080
}
.info{
    color:#ff6600;
    text-decoration:none;
}

/* ---------TIPPS BOX------ */
.col2{
    height:250px;
    background-color:#ff6600;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
img {
    height:50px;
    width: 100px;
}