*{
    font-size:12px;
}

a{
    text-decoration:underline;
}
p{
    margin-bottom:2px;
}

/* ---------ÜBERSICHT DATEN ------ */
.container{
    background-color:#f2f0eb;
    padding:30px;
}
h2{
    padding-left: 20px;
    font-weight:700;
    margin:0;
    padding-top: 10px;
}
.right{
    text-align:right;
    padding-right:30px;
    padding-bottom:10px;
}
#daten{
    background-color:#ffffff;
    margin: -5px 20px;
    padding:15px;
}
.pfett{
    font-weight:600;
}
.orange{
    color:#ff6600;
    margin-bottom:0px;
    font-weight:700;
    font-size:16px;
}

/* ---------STATUS UND TIPPS ------ */
.header_boxen{
    margin: 20px 20px 0px 20px;
}

h4{
    text-align:left;
    padding:0;
    font-weight:700;
    margin-top:20px;
    margin-bottom:15px;
}

/* ---------STATUS BOX------ */
.boxen{
    background-color:white;
    width:46%;
    margin: 0 20px;
    float:left;
    padding: 20px;
}
.clearfix{
    clear:both;
}
#warning{
    background-color:#f58e9e;
    display:center;
    padding:10px;
    margin-bottom: 10px;
    border-radius:3px;
}
#a_black{
    color:black;
}
.info{
    color: #ff6600;
    text-decoration: none;
}
.extra{
    width: 50%;
    float:left;
    margin-bottom:10px;
}
.inner{
    padding:5px;
}
img{
    width:20px;
    height:20px;
    float:left;
    margin-right:5px;
}
.platzhalter{
    height:75px;
    width:100px;
}
h5{
    font-weight:600;
}